<%- include('includes/head.ejs') %>
<body>
    <form action="/users/add-user" method="POST">
        <label for="userName">User Name</label>
        <input type="text" autocomplete="false" name="userName" id="userName">
        <button type="submit">Add User</button>
    </form>
</body>
</html>